<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="qrichtext" content="1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Network Details</title>

    <link rel="stylesheet" type="text/css" href="../../docs.min.css" />
    <link rel="stylesheet" type="text/css" href="../css/network.min.css" />
  </head>
  <body>
    <h1>Download</h1>

    <p class="quantity">Total: <span class="quantity-span"></span> GiB</p>
    <p class="update-bytes"><span class="quantity-span"></span> bytes/s</p>
  </body>
</html>
