<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="qrichtext" content="1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>System Info</title>

    <link rel="stylesheet" type="text/css" href="../../docs.min.css" />
    <link rel="stylesheet" type="text/css" href="../css/systemInfo.css" />

</head>
<body>

    <h1 style="font-size:smaller">System Info</h1>

    <p>
        Hostname:
        <br />

        Platform:
        <br />

        Distribution:
        <br />

        Kernel Release:
        <br />

        CPU Model:
        <br />

        CPU Core:
        <br />

        CPU Speed:
        <br />
    </p>

</body>
</html>