<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="qrichtext" content="1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Usage Info</title>

    <link rel="stylesheet" type="text/css" href="../../docs.min.css" />
    <link rel="stylesheet" type="text/css" href="../css/usageInfo.css" />

</head>
<body>

    <h1>Hello, World!</h1>

    <h2>This is a template</h2>

    <p>Expect content to be put here soon.</p>

</body>
</html>